%h2= @theme.name
%div#challenge_tracks
  - @tracks.each_with_index do |track, i|
    %div.track_item{:style => 'display:none'}
      %h3= "##{i+1} Track:"
      %div.track_player
        %audio{:controls => "controls", :src => "#{track.song.file_path}.mp3"}
      %div.song_item
        = label_tag "song_#{track.song.id}", 'Song:'
        = text_field_tag "song_#{track.song.id}",'','data-url' => check_artist_song_url(track.song.artist,track.song)
      %div.artist_item
        = label_tag "artist_#{track.song.artist.id}", 'Artist:'
        = text_field_tag "artist_#{track.song.artist.id}",'','data-url' => check_artist_url(track.song.artist)
%div#track_controllers
  =link_to '<< Prev', "#", :id => "prev_track", :class => "button"
  =link_to 'Next >>', "#", :id => "next_track", :class => "button"
  =link_to 'End Quiz', "#", :id => "end_challenge", :class => "button"
  
