%h2.special_case= @theme.name
%div#challenge_tracks
  = form_for ([@theme,@challenge]) do |f|
    = f.hidden_field :user_id, :value => @user.id
    - @tracks.each_with_index do |track, i|
      %div.track_item{:style => 'display:none'}
        %h3= "##{i+1} of #{@tracks.count} Tracks:"
        %div.track_player
          %audio{:controls => "controls"}
            %source{:src => "#{track.song.file_path}.ogg", :type => "audio/ogg"}
            %source{:src => "#{track.song.file_path}.mp3", :type => "audio/mpeg"}
            <!-- fallback content -->
            %p Your browser does not support the audio player. Use the latest Firefox or Chrome browsers or
            %p= link_to 'Download the mp3', "#{track.song.file_path}.mp3", :target => "_blank"
        %div.song_item
          = f.fields_for :answers do |builder|
            = builder.hidden_field :answerable_id, :value => track.song.id
            = builder.hidden_field :answerable_type, :value => track.song.class
            - if track.song.artist.nil?
              = builder.label :name, 'Movie:'
            - else
              = builder.label :name, 'Song:'
            = builder.text_field :name,'data-url' => check_song_url(track.song)
        - unless track.song.artist.nil?
          %div.artist_item
            = f.fields_for :answers do |builder|
              = builder.hidden_field :answerable_id, :value => track.song.artist.id
              = builder.hidden_field :answerable_type, :value => track.song.artist.class
              = builder.label :name, 'Artist:'
              = builder.text_field :name,'data-url' => check_artist_url(track.song.artist)
    %div#track_controllers
      =link_to '<< Prev', "#", :id => "prev_track", :class => "button"
      =link_to 'Next >>', "#", :id => "next_track", :class => "button"
      =f.submit 'End Quiz', :id => "end_challenge", :class => "button", :confirm => "Are you sure?"
