!!!
%html
  %head
    %title MuiscQuiz
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Fontdiner+Swanky"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  %h1 MusicQuiz
  %div.wrapper
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    = yield
